## TPC2 tarefa 2 - Python

In [44]:
import csv
import numpy as np
import pandas as pd
pd.set_option('display.min_rows', 20)
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

### <font color = 'green'>World Cup with Pandas</font>
Solve the problems using the data in Pandas dataframes.

In [46]:
# Read the Players and Teams data into dataframes
playersDF = pd.read_csv('Players.csv')
teamsDF = pd.read_csv('Teams.csv')

In [47]:
playersDF.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

In [48]:
teamsDF.head()

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0

In [49]:
#Qual jogador (print do ultimo nome) de uma equipa com "ia" no nome, 
#que jogou menos de 200 minutos e fez mais de 100 passes?

# 1 - Criar dataframe onde constam apenas equipas com "ia" no nome, através do método str.contains()
equipasDF = playersDF[playersDF['team'].str.contains('ia')]

# 2 - Do dataframe anterior, fazer o slicing dos jogadores com menos de 200 minutos e mais de 100 passes 
jogadorDF = equipasDF[(equipasDF['minutes'] < 200) & (equipasDF['passes'] > 100)]

# 3 - Extrair o último nome do jogador, a partir da coluna 'surname' do dataframe anterior
jogador_nome = jogadorDF['surname']

# 4 - Fazer o print do resultado
print(jogador_nome)

431    Kuzmanovic
Name: surname, dtype: object

In [50]:
# Qual é o número médio de passes feitos pelos avançados? Pelos meio-campistas?
# Verifique se a resposta especifica qual é qual e não inclua outras
# posições no seu resultado.

# 1 - Fazer o slicing dos jogadores cuja posição é avançado ('forward') e médio ('midfielder')
avançadosDF = playersDF[playersDF['position'] == 'forward']
meio_campistasDF = playersDF[playersDF['position'] == 'midfielder']

# 2 - Fazer a média dos passes dos avançados e médios, dos dataframes anteriores, através do método mean()
passes_avançados = avançadosDF['passes'].mean()
passes_meio_campistas = meio_campistasDF['passes'].mean()

# 3 - Fazer o print dos resultados
print(passes_avançados)
print(passes_meio_campistas)

50.82517482517483
95.2719298245614

In [51]:
# Qual equipe tem a maior relação (razão, racio, etc) de goalsFor versus goalsAgainst?
# Imprima apenas o nome da equipa.
# Dica: adicione uma coluna "racio" ao dataframe das equipas e, depois, faça o seu "sort" e, 
# em seguida, use a head(1) ou tail(1) ...

# 1 - Inserir a coluna "racio", através do método insert(), que faz a divisão entre goalsFor e goalsAgainst
teamsDF.insert(8, 'racio', teamsDF['goalsFor'] / teamsDF['goalsAgainst'])

# 2 - Ordenar os valores pelo racio, através do método sort_values()
# 3 - Selecionar do dataframe ordenado a primeira equipa, através do método head()
teamsDF.sort_values(by = 'racio', axis = 0, ascending = False, inplace = False)['team'].head(1)

2    Portugal
Name: team, dtype: object

In [92]:
# Quantos jogadores que jogam numa equipa com ranking <10, 
# jogaram mais de 350 minutos?
# Lembrete: len() fornece o número de linhas que um dataframe contém

# 1 - Fundir os dataframes 'playersDF' e 'teamsDF', através do método pd.merge(), com base na coluna em comum 'team'
globalDF = pd.merge(playersDF, teamsDF, on=['team'], how='inner')

# 2 - Do dataframe global, fazer o slicing dos jogadores com equipa de ranking < 10 e com mais de 350 minutos
jogadoresDF = globalDF[(globalDF['ranking'] < 10) & (globalDF['minutes'] > 350)]

# 3 - Contar o número de resultados
len(jogadoresDF)

54

### <font color = 'green'>Titanic with Pandas</font>
Solve the problems using the data in Pandas dataframe.

In [53]:
# Read the Titanic data into a dataframe
titanicDF = pd.read_csv('Titanic.csv')
titanicDF.head()

,last,first,gender,age,class,fare,embarked,survived
0,Braund,Mr. Owen Harris,M,22.0,3,7.2500,Southampton,no
1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),F,38.0,1,71.2833,Cherbourg,yes
2,Heikkinen,Miss Laina,F,26.0,3,7.9250,Southampton,yes
3,Futrelle,Mrs. Jacques Heath (Lily May Peel),F,35.0,1,53.1000,Southampton,yes
4,Allen,Mr. William Henry,M,35.0,3,8.0500,Southampton,no

In [93]:
# Quantas mulheres casadas embarcaram em Cherbourg?
# Nota: 'first' é uma função no Pandas, então 'titanic.first' irá gerar um erro;
# use 'titanic[' first ']

# 1 - Criar dataframe onde constam apenas nomes de mulheres casadas ("Mrs."), através do método str.contains()
mrsDF = titanicDF[titanicDF['first'].str.contains('Mrs.')]

# 2 - Do dataframe anterior, fazer o slicing das mulheres casadas que embarcaram em Cherbourg
cherbourgDF = mrsDF[mrsDF['embarked'] == 'Cherbourg']

# 3 - Contar o número de resultados
len(cherbourgDF)

33

In [97]:
# Liste a tarifa média paga pelos passageiros em cada uma das cidades de embarque.

# 1 - Averiguar quais as diferentes cidades de embarque, através do método unique()
titanicDF['embarked'].unique() # 3 cidades: Southampton, Cherbourg e Queenstown

# 2 - Calcular as tarifas médias de cada cidade de embraque
avg_tarifa_southampton = titanicDF[titanicDF['embarked'] == 'Southampton']['fare'].mean()
avg_tarifa_cherbourg = titanicDF[titanicDF['embarked'] == 'Cherbourg']['fare'].mean()
avg_tarifa_queenstown = titanicDF[titanicDF['embarked'] == 'Queenstown']['fare'].mean()

# 3 - Listagem das tarifas médias de cada cidade de embarque
lista_tarifas = [avg_tarifa_southampton, avg_tarifa_cherbourg, avg_tarifa_queenstown]
lista_tarifas

[27.243651393188795, 59.95414404761905, 13.276029870129872]

In [98]:
# Os valores inexistentes (missing)  no Pandas são nulos (null), impressos como 'NaN' e
# a function pd.isnull(v) verifica se um valor é nulo.
# Que fração dos passageiros não tem valor para a idade?

# 1 - Somar, através do método sum(), os valores inexistentes (null) do dataframe
idades_nulas = titanicDF['age'].isnull().sum()

# 2 - Dividir o número de valores nulos pelo número de linhas do dataframe, obtendo-se a fração de passageiros
fração_passageiros = (idades_nulas / len(titanicDF))
fração_passageiros

# 3 - Opcionalmente, o valor decimal obtido pode ser convertido para fração, importando o módulo Fraction
# 4 - Apresentar o resultado em fração irredutível, através do método limit_denominator()
from fractions import Fraction
Fraction(fração_passageiros).limit_denominator()

Fraction(59, 297)